:root {
  /*Fonts*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*Text colors*/
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;

  /*Background color*/
  --dark-bkg: #2f303a;
  --light-bkg: #ffffff;
}

body {
  font-family: var(--main-font);
  color: #212121;
}
/*Reset styles*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*Header style*/

.header {
  background-color: var(--light-bkg);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
}
.header-logo span {
  font-family: ;
  color: var(--accent-color);
}
.header-link,
.header-contacts.link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}
.header-contacts.link {
  color: var(--main-text-color);
}
.header-contacts.link:hover,
.header-contacts.link:focus {
  color: var(--accent-color);
}

/*Main Studio style*/
.hero {
  background-color: var(--dark-bkg);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.tasks-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team {
  background-color: #f5f4fa;
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*Footer style*/

.footer {
  background-color: var(--dark-bkg);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-logo > span {
  color: var(--accent-color);
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts.link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts.link:hover,
.footer-contacts.link:focus {
  color: #ffffff;
}

/*Main Portfolio Style*/
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
